## Python
# export VIRTUAL_ENV=.venv
layout python3 --system-site-packages --upgrade

## ROS
. /opt/ros/humble/setup.bash
# test -f install/setup.bash && . ${_}

## Turtlebot3
export ROS_DOMAIN_ID=30
export TURTLEBOT3_MODEL=waffle_pi
